

body {
  background-image: radial-gradient(#F0FFC2, #CAF0F8);
  text-align: center;

}
hr {
  background-color: transparent;
  width: 25%;
  border-width: 6px;
  border-color: #161E54;
  border-style: dotted none none

}

img {
  text-align: center;
  height: 200px;
  margin:auto;
  display: block;
}
h1 {
  text-align: center;
  margin:auto;
  color: #085E7D;
}
h2 {
  text-align: center;
  margin:auto;
  color: #085E7D;
}
h3 {
  text-align: center;
  margin:auto;
  color: #085E7D;
}

  p {
    text-align: center;
  }


  ol {
    text-align: left;
    margin-left: 25%

  }
  li {
    text-align: left;
    margin-left: 25%

  }

  table.center {
    margin-left: auto;
   margin-right: auto;
  }

  h3 {
    text-align: center;
      }
table.center {
  margin-left: auto;
  margin-right: auto;
}
